In [1]:
import pandas as pd

In [96]:
Netflix_Shows = pd.read_csv('Netflix_Shows.csv',encoding="ISO-8859-1")

In [93]:
Netflix_Shows.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [31]:
Netflix_Shows.shape

(1000, 7)

In [22]:
Netflix_Shows.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [62]:
max(Netflix_Shows.astype(str).ratingLevel.apply(len))

125

In [57]:
Netflix_Shows.dtypes

title                 object
rating                object
ratingLevel           object
ratingDescription      int64
release year           int64
user rating score    float64
user rating size       int64
dtype: object

In [67]:
max(Netflix_Shows.astype(str).title.apply(len))

62

In [68]:
max(Netflix_Shows.astype(str).rating.apply(len))

8

In [66]:
max(Netflix_Shows.astype(str).ratingLevel.apply(len))

125

In [73]:
max(Netflix_Shows.astype(str).ratingDescription.apply(len))

3

In [97]:
netflix_titles= pd.read_csv('netflix_titles.csv',encoding="ISO-8859-1")

In [110]:
netflix_titles.shape

(6234, 12)

In [98]:
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [130]:
netflix_titles.groupby('type').count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
type,,,,,,,,,,,
Movie,4265,4265,4137,3905,4070,4264,4265,4257,4265,4265,4265
TV Show,1969,1969,128,1759,1688,1959,1969,1967,1969,1969,1969

In [99]:
netflix_titles.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [127]:
netflix_titles['show_id'].max()

81235729

In [109]:
#len(netflix_titles['type'].max())
max(netflix_titles.astype(str).type.apply(len))

7

In [111]:
max(netflix_titles.astype(str).title.apply(len))

104

In [112]:
max(netflix_titles.astype(str).director.apply(len))

208

In [113]:
max(netflix_titles.astype(str).cast.apply(len))

771

In [114]:
max(netflix_titles.astype(str).country.apply(len))

123

In [115]:
max(netflix_titles.astype(str).date_added.apply(len))

19

In [116]:
netflix_titles['release_year'].max()

2020

In [118]:
max(netflix_titles.astype(str).rating.apply(len))

8

In [119]:
max(netflix_titles.astype(str).duration.apply(len))

10

In [120]:
max(netflix_titles.astype(str).listed_in.apply(len))

79

In [121]:
max(netflix_titles.astype(str).description.apply(len))

250

In [101]:
netflix_titles.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [102]:
netflix_titles.isna().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [122]:
liste_colonnes = []
liste_colonnes = netflix_titles.dtypes 
len(liste_colonnes)

12

In [64]:
liste_colonnes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
Unnamed: 12     object
dtype: object

In [125]:

for i in netflix_titles.select_dtypes ('int64'):
    print ("la taile de ", liste_colonnes[i], " : ", netflix_titles[i].max())

la taile de  int64  :  81235729
la taile de  int64  :  2020

# Veille sur notions MySQL 

1. Tri des données :

La commande ORDER BY permet de trier les lignes dans un résultat d’une requête SQL.

SELECT colonne1, colonne2
FROM table
ORDER BY colonne1

Par défaut le résultat est affichié par ordre décroissant 

On peut spécifier

SELECT colonne1, colonne2, colonne3
FROM table
ORDER BY colonne1 DESC, colonne2 ASC

2. Renommage 

Dans le langage SQL il est possible d’utiliser des alias pour renommer temporairement une colonne ou une table dans une requête. Cette astuce est particulièrement utile pour faciliter la lecture des requêtes.

Alias sur une colonne:

La syntaxe pour renommer une colonne de colonne1 à c1 est la suivante:

SELECT colonne1 AS c1, colonne2
FROM `table`

Alias sur une table:

SELECT *
FROM `nom_table` AS t1


On peut renommer une table en tapant la commande suivante :
RENAME TABLE old_table_name TO new_table_name;


3. Agrégation 

Les fonctions d’agrégation dans le langage SQL permettent d’effectuer des opérations statistiques sur un ensemble d’enregistrement.

AVG() pour calculer la moyenne sur un ensemble d’enregistrement

COUNT() pour compter le nombre d’enregistrement sur une table ou une colonne distincte

MAX() pour récupérer la valeur maximum d’une colonne sur un ensemble de ligne. Cela s’applique à la fois pour des données numériques ou alphanumérique

MIN() pour récupérer la valeur minimum de la même manière que MAX()

SUM() pour calculer la somme sur un ensemble d’enregistrement


L’utilisation la plus générale consiste à utiliser la syntaxe suivante :

SELECT fonction(colonne) FROM table

SELECT COUNT(*) FROM table

on peut l'utiliser avec group by

SELECT colonne, SUM(tarif)
 FROM table
 GROUP BY colonne


4. Jointures 
Mysql présente 7 jointures :

INNER JOIN (intersection)

SELECT *
FROM A
INNER JOIN B ON A.key = B.key



LEFT JOIN
SELECT *
FROM A
LEFT JOIN B ON A.key = B.key


LEFT JOIN (sans l’intersection de B)
SELECT *
FROM A
LEFT JOIN B ON A.key = B.key
WHERE B.key IS NULL

RIGHT JOIN
SELECT *
FROM A
RIGHT JOIN B ON A.key = B.key



RIGHT JOIN (sans l’intersection de A)
SELECT *
FROM A
RIGHT JOIN B ON A.key = B.key
WHERE B.key IS NULL

FULL JOIN
SELECT *
FROM A
FULL JOIN B ON A.key = B.key


FULL JOIN (sans intersection)
SELECT *
FROM A
FULL JOIN B ON A.key = B.key
WHERE A.key IS NULL
OR B.key IS NULL

# Veille modèle d’analyse et de conception Merise 


Présentation de la méthode MERISE

MERISE est une méthode de conception, de développement et de réalisation de projets informatiques. Le but de cette méthode est d'arriver à concevoir un système d'information. La méthode MERISE est basée sur la séparation des données et des traitements à effectuer en plusieurs modèles conceptuels et physiques.
La séparation des données et des traitements assure une longévité au modèle. En effet, l'agencement des données n'a pas à être souvent remanié, tandis que les traitements le sont plus fréquemment.

Cycle d'abstraction de conception des systèmes d'information

La conception du système d'information se fait par étapes, afin d'aboutir à un système d'information fonctionnel reflétant une réalité physique. Il s'agit donc de valider une à une chacune des étapes en prenant en compte les résultats de la phase précédente. D'autre part, les données étant séparées des traitements, il faut vérifier la concordance entre données et traitements afin de vérifier que toutes les données nécessaires aux traitements sont présentes et qu'il n'y a pas de données superflues.

Cette succession d'étapes est appelée cycle d'abstraction pour la conception des systèmes d'information :

Cycle d'abstraction de conception des systèmes d'information

L'expression des besoins est une étape consistant à définir ce que l'on attend du système d'information automatisé, il faut pour cela :

    faire l'inventaire des éléments nécessaires au système d'information
    délimiter le système en s'informant auprès des futurs utilisateurs

Cela va permettre de créer le MCC (Modèle conceptuel de la communication) qui définit les flux d'informations à prendre en compte.

L'étape suivante consiste à mettre au point le MCD (Modèle conceptuel des données) et le MCT (Modèle conceptuel des traitements) décrivant les règles et les contraintes à prendre en compte.

Le modèle organisationnel consiste à définir le MOT (Modèle organisationnel des traitements) décrivant les contraintes dues à l'environnement (organisationnel, spatial et temporel).

Le modèle logique représente un choix logiciel pour le système d'information.

Le modèle physique reflète un choix matériel pour le système d'information. 

Exemple pour les bases de données relationnelles, une table contient des colonnes correspondant aux différents champs connus à l’avance et dont la première ligne explique le contenu (un peu comme la première ligne d’un tableur qui énonce le contenu à venir en dessous).

Dans la méthodologie Merise, il y a des outils dédiés aux traitements et aux données. Le MCD (Modèle Conceptuel des Données) est un des outils majeurs concernant les données.

Ce nombre de colonne est défini en amont, lors de la conception de la base de données et est souvent fini. Les lignes, par contre, contiennent les données et leur nombre varient avec l’utilisation de la base de données (en croissant la plupart du temps). La première colonne de la table contient souvent la clé primaire.

Une table n’apparaît pas telle quel : elle est déjà modélisé dans le MCD en tant qu’entité. En passant au MPD et au MLD, les entités deviennent des tables en suivant des règles simples. Une fois cette opération réalisée, les tables peuvent être implémentées dans la base de données.

Le MCD:
Est une représentation graphique de haut niveau qui permet facilement et simplement de comprendre comment les différents éléments sont liés entre eux à l’aide de diagrammes codifiés dont les éléments suivants font partie :

* Les entités (1 rectangle = 1 objet) ;
    
* Les propriétés (la liste des données de l’entité) ;

* Les relations qui expliquent et précisent comment les entités sont reliées entre elles (les ovales avec leurs « pattes » qui se rattachent aux entités) ;
    
* Les cardinalités (les petits chiffres au dessus des « pattes »).

le MPD:
Dans la méthodologie Merise, le MPD (Modèle Physique des Données) fait suite au MCD. Ensuite viendra le MLD.

L’étape de création du MPD est presque une formalité comparée à la création du MCD. En s’appuyant sur des règles simples (et qui fonctionnent à tous les coups), l’analyste fait évoluer sa modélisation de haut niveau pour la transformer en un schéma plus proche des contraintes des logiciels de bases de données. Il s’agit de préparer l’implémentation dans un SGBD


Le MLD:
L’étape de création du MPD est presque une formalité comparée à la création du MCD. En s’appuyant sur des règles simples (et qui fonctionnent à tous les coups), l’analyste fait évoluer sa modélisation de haut niveau pour la transformer en un schéma plus proche des contraintes des logiciels de bases de données. Il s’agit de préparer l’implémentation dans un SGBDR.